<div *ngIf="chat.length === 0 && id_estado!== 4 && id_estado!==3" class="chat-vacio">
  🗨️ Este chat espera tu mensaje. ¡Adelante!
</div>
<div *ngFor="let mensaje of chat">
  <div
    [ngClass]="{
      'mensaje-derecha': esMensajeDerecha(mensaje.rol),
      'mensaje-izquierda': !esMensajeDerecha(mensaje.rol)
    }"
    class="mensaje-container"
  >
    <div class="mensaje-card">
      <div class="mensaje-header">
        <div class="mensaje-nombre">{{ mensaje.nombre }}</div>
        <div class="mensaje-fecha">{{ mensaje.fecha  | date : "dd/MM/yy HH:mm" }}</div>
      </div>

      <div class="mensaje-texto">{{ mensaje.mensaje }}</div>
    </div>
  </div>
</div>
