.content-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff4e6;
  margin-left: 20px;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff4e6;
  margin-left: 20px;
}

thead th,
tbody td {
  border: 1px solid #2c3e508a;
  text-align: center;
  background-color: rgb(255, 253, 250);

  &:hover {
    background-color: antiquewhite; /* Gris un poco m치s oscuro */

    border-color: #2c3e508a;
  }
}

button {
  background-color: #475c70;
  color: #fff4e6;
  border: 2px solid #2c3e508a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  &:hover {
    background-color: #a6bacc; /* Gris un poco m치s oscuro */
    color: #fff4e6;
    border-color: #2c3e508a;
  }
}
.titulo-propiedades {
  font-size: 28px;
  font-weight: bold;
  margin-left: 40px;
  color: #2c3e50;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.titulo-form {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
}

/* Boton Segundario/Cancel */
.btn-cancel {
  background-color: #f5f5f5; /* Gris claro */
  color: #555; /* Gris oscuro */
  border-color: #ddd; /* Borde gris */
  transition: all 0.3s ease;

  &:hover {
    background-color: #e0e0e0; /* Gris un poco m치s oscuro */
    color: #333;
    border-color: #ccc;
  }

  &:focus,
  &:active {
    background-color: #d9d9d9;
    color: #333;
    border-color: #bbb;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
  }
}

/* Bot칩n aceptar */
.btn-aceptar {
  background-color: #1890ff; /* Azul brillante */
  color: #fff;
  border-color: #1890ff;
  transition: all 0.3s ease;

  &:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  &:focus,
  &:active {
    background-color: #096dd9;
    border-color: #096dd9;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(24, 144, 255, 0.3);
  }

  &:disabled {
    background-color: #d9d9d9;
    color: #999;
    border-color: #d9d9d9;
    cursor: not-allowed;
  }
}

.mensaje-sin-propiedades {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Estados Reserva */
.badge-confirmada {
  background-color: #28a745; /* Verde */
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.badge-pendiente {
  background-color: #6c757d; /* Gris */
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.badge-cancelada {
  background-color: #dc3545; /* Rojo */
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}
