<div class="detalle-container">
  <div class="card">
    <nz-spin [nzSpinning]="creandoUsuario">
      <form nz-form [formGroup]="form" class="form-usuario">
        <h6>Datos usuario</h6>
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="nombre" nzRequired
                >Nombre</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="nombreErrorTpl">
                <input
                  nz-input
                  formControlName="nombre"
                  placeholder="Nombre"
                  autocomplete="off"
                />
                <ng-template #nombreErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El nombre es obligatorio.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="apellido" nzRequired
                >Apellido</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="apellidoErrorTpl">
                <input
                  nz-input
                  formControlName="apellido"
                  placeholder="Apellido"
                  autocomplete="off"
                />
                <ng-template #apellidoErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El apellido es obligatorio.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="correo" nzRequired
                >Email</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="correoErrorTpl">
                <input
                  nz-input
                  formControlName="correo"
                  placeholder="Correo electrónico"
                  autocomplete="off"
                />
                <ng-template #correoErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El email es obligatorio.</span
                  >
                  <span *ngIf="control.hasError('email')"
                    >El email no es válido.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="password_hash" nzRequired
                >Contraseña</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="passwordErrorTpl">
                <input
                  nz-input
                  type="password"
                  formControlName="password_hash"
                  placeholder="Contraseña"
                />
                <ng-template #passwordErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >La contraseña es obligatoria.</span
                  >
                  <span *ngIf="control.hasError('invalidPassword')">
                    La contraseña debe tener al menos 8 caracteres, una
                    mayúscula y un número.
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label
                [nzSpan]="24"
                nzFor="tipo_identificacion"
                nzRequired
                >Tipo Identificación</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="tipoIdErrorTpl">
                <nz-select
                  formControlName="tipo_identificacion"
                  nzPlaceHolder="Seleccione tipo"
                >
                  <nz-option
                    *ngFor="let tipo of tiposIdentificacion"
                    [nzValue]="tipo.id"
                    [nzLabel]="tipo.nombre"
                  ></nz-option>
                </nz-select>
                <ng-template #tipoIdErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El tipo de identificación es obligatorio.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label
                [nzSpan]="24"
                nzFor="numero_identificacion"
                nzRequired
                >Número Identificación</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="numIdErrorTpl">
                <input
                  nz-input
                  type="text"
                  formControlName="numero_identificacion"
                  placeholder="Número de identificación"
                  autocomplete="off"
                  maxlength="11"
                />
                <ng-template #numIdErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El número de identificación es obligatorio.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="fecha_nacimiento" nzRequired
                >Fecha de Nacimiento</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="fechaNacErrorTpl">
                <input
                  nz-input
                  type="date"
                  formControlName="fecha_nacimiento"
                  autocomplete="off"
                  min="1900-01-01"
                  max="2105-12-31"
                />
                <ng-template #fechaNacErrorTpl let-control>
                  <ng-container *ngIf="control?.invalid">
                    <span *ngIf="control.hasError('required')">
                      La fecha de nacimiento es obligatoria.
                    </span>
                    <span *ngIf="control.hasError('menorDeEdad')">
                      Debe ser mayor de 18 años.
                    </span>
                    <span *ngIf="control.hasError('invalidDate')">
                      Fecha no válida.
                    </span>
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="pais" nzRequired
                >País</nz-form-label
              >
              <nz-form-control [nzSpan]="24" [nzErrorTip]="paisErrorTpl">
                <nz-select
                  formControlName="pais"
                  nzPlaceHolder="Seleccione país"
                >
                  <nz-option
                    *ngFor="let pais of paises"
                    [nzValue]="pais.id"
                    [nzLabel]="pais.nombre"
                  ></nz-option>
                </nz-select>
                <ng-template #paisErrorTpl let-control>
                  <span *ngIf="control.hasError('required')"
                    >El país es obligatorio.</span
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <br />
        <h6>Tarjeta de crédito</h6>
        <div formArrayName="tarjetas">
          <div nz-row [nzGutter]="16" *ngIf="tarjetas.controls.length > 0">
            <div
              nz-col
              nzSpan="24"
              *ngFor="let tarjeta of tarjetas.controls; let i = index"
              [formGroupName]="i"
            >
              <nz-card
                class="card-hover-border"
                style="
                  position: relative;
                  margin-bottom: 16px;
                  width: 100%;
                  box-sizing: border-box;
                "
              >
                <div nz-row [nzGutter]="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24"
                        >Nombre del Titular</nz-form-label
                      >
                      <nz-form-control
                        [nzSpan]="24"
                        [nzErrorTip]="nombreTitularErrorTpl"
                      >
                        <input
                          nz-input
                          formControlName="nombre_titular"
                          placeholder="Nombre del Titular"
                          autocomplete="off"
                        />
                        <ng-template #nombreTitularErrorTpl let-control>
                          <span *ngIf="control.hasError('required')"
                            >El nombre del titular es obligatorio.</span
                          >
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24" for="numeroTarjeta"
                        >Número</nz-form-label
                      >
                      <nz-form-control
                        [nzSpan]="24"
                        [nzErrorTip]="numeroTarjetaErrorTpl"
                      >
                        <input
                          id="numeroTarjeta"
                          nz-input
                          formControlName="numero"
                          placeholder="Número de tarjeta (16 dígitos)"
                          autocomplete="off"
                          [mask]="'0000 0000 0000 0000'"
                          [dropSpecialCharacters]="true"
                          maxlength="19"
                        />
                        <ng-template #numeroTarjetaErrorTpl let-control>
                          <span *ngIf="control.hasError('required')">
                            El número de tarjeta es obligatorio.
                          </span>
                          <span *ngIf="control.hasError('pattern')">
                            Ingresá un número válido de tarjeta.
                          </span>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row [nzGutter]="8">
                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24"
                        >Fecha Vencimiento</nz-form-label
                      >
                      <nz-form-control
                        [nzSpan]="24"
                        [nzErrorTip]="fechaVencErrorTpl"
                      >
                        <input
                          type="text"
                          nz-input
                          formControlName="fecha_vencimiento"
                          placeholder="mm/aa"
                          autocomplete="off"
                          maxlength="5"
                          [mask]="'00/00'"
                          [dropSpecialCharacters]="false"
                        />
                        <ng-template #fechaVencErrorTpl let-control>
                          <ng-container *ngIf="control?.invalid">
                            <span *ngIf="control.hasError('required')">
                              La fecha de vencimiento es obligatoria.
                            </span>
                            <span *ngIf="control.hasError('invalidDate')">
                              Ingrese un mes válido (01-12) y un año de 2
                              cifras.
                            </span>
                            <span *ngIf="control.hasError('vencida')">
                              La tarjeta está vencida.
                            </span>
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="24">CVV</nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="cvvErrorTpl">
                        <input
                          nz-input
                          type="number"
                          formControlName="cvv"
                          placeholder="CVV"
                          autocomplete="off"
                          [mask]="'000'"
                          [dropSpecialCharacters]="false"
                        />
                        <ng-template #cvvErrorTpl let-control>
                          <span *ngIf="control.hasError('required')"
                            >El CVV es obligatorio.</span
                          >
                          <span *ngIf="control.hasError('invalidCvv')"
                            >El CVV debe tener 3 dígitos.</span
                          >
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </nz-card>
            </div>
          </div>
        </div>
        <hr />
        <br />
        <h6>Subir Documentacion</h6>
        <div class="row">
          <p>
            Debe cargar foto del frente y dorso de la documentación
            identificatoria ingresada.
          </p>
        </div>
        <span>
          <button
            nz-button
            class="bton-cargar-imagen"
            (click)="abrirSelectorImagen()"
            [disabled]="imagenes.length == 2"
          >
            <span> <i class="fa fa-plus"></i> Cargar Imagen</span>
          </button>
          <input
            type="file"
            #inputImagen
            accept="image/*"
            style="display: none"
            (change)="onImagenSeleccionada($event)"
          />
        </span>
        <div class="card-imagenes" *ngIf="imagenes?.length">
          <div class="imagenes-grid">
            <div class="imagen-wrapper" *ngFor="let imagen of imagenes">
              <button
                type="button"
                class="boton-cerrar"
                (click)="eliminarImagen(imagen.id)"
              >
                <i class="fa fa-close"></i>
              </button>
              <img
                [src]="imagen.url"
                alt="imagen-propiedad"
                class="imagen-propiedad"
              />
            </div>
          </div>
        </div>
        <div style="text-align: right; margin-top: 24px">
          <button
            nz-button
            nzType="primary"
            (click)="onSubmit()"
            [disabled]="form.invalid || imagenes.length < 2"
          >
            Registrar Usuario
          </button>
        </div>
      </form>
    </nz-spin>
  </div>
</div>
