.reserva-header {
  display: flex;
  align-items: center;
  background-color: #f8f3e9;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  gap: 20px;
}

.reserva-header h2 {
  margin: 0;
  color: #2a2a2a;
  font-weight: 700;
  font-size: 1.5em;
}

.detalle-container {
  width: 97%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}

.content-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff4e6;
  margin-left: 20px;
}

.table-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  max-width: fit-content;
  border-radius: 10px;
}

thead th,
tbody td,
th {
  border: 1px solid #2c3e508a;
  text-align: center;
  font-size: large;
  background-color: rgb(255, 253, 250);

  &:hover {
    background-color: rgb(248, 239, 228);

    border-color: #2c3e508a;
  }
}

button {
  background-color: #475c70;
  color: #fff4e6;
  border: 2px solid #2c3e508a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  &:hover {
    background-color: antiquewhite;
    color: #2c3e508a;
    border-color: #2c3e508a;
  }
    
  &:disabled {
    background-color: #f5f5f5;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
  }
}

.mi-boton {
  background-color: #fff4e6;
  color: #475c70;
  border: 2px solid #2c3e508a;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: antiquewhite;
    color: #2c3e508a;
    border-color: #2c3e508a;
  }
}

.mensaje-sin-reservas {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.badge-confirmada {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.badge-pendiente {
  background-color: #6c757d;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.badge-cancelada {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}
.badge-otros {
  background-color: #6c757d;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.titulo-general {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 20px;
  color: #2c3e50;
}

.detalle-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.detalle-item {
  flex: 1 1 45%;
  min-width: 200px;
}

p {
  margin: 8px 0;
}



.imagen-propiedad {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* border-radius: 10px; */
}
.imagen-propiedad:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.boton-cerrar {
  position: absolute;
  top: -3px;
  right: 20px;
  overflow-y: visible;
  background-color: rgba(255, 255, 255, 0.8);
  color: #c23939;
  border: none;
  border-radius: 20%;
  font-size: 18px;
  cursor: pointer;
  padding: 2px 6px;
  z-index: 1;
}

.boton-cerrar:hover {
  background-color: #c23939;
}

.editCod {
  background-color: #fff4e6;
  color: #2c3e508a;
  border: 2px solid #2c3e508a;
  border-radius: 5px;
  cursor: pointer;
  padding-block: 2px;
  margin: 5px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding: 16px 24px;
}
.card-imagenes{
   background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding: 16px 24px;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #2c3e50;
  border-bottom: 2px solid #f39c12;
  padding-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.propiedad-info,
.reserva-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.propiedad-item,
.reserva-item {
  flex: 1 1 45%;
  display: flex;
  justify-content: space-between;
}

.propiedad-item label,
.reserva-item label {
  font-weight: 600;
  margin-right: 8px;
}
.imagenes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* de 6 a 4 */
  gap: 20px; /* un poco más de separación */
  margin-top: 1rem;
}

.imagen-wrapper {
  position: relative;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.imagen-propiedad {
  width: 100%;
  height: 200px; /* antes era 100px */
  object-fit: cover;
  display: block;
}


.boton-cerrar {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
