<div class="reserva-header">
  <h2 class="titulo-general">Detalle de la Propiedad</h2>
  <!-- <span
    [ngClass]="
      propiedad.delete_at != null ? 'badge-cancelada' : 'badge-confirmada'
    "
  >
    {{ propiedad.delete_at != null ? "Eliminada" : "Activa" }}
  </span> -->
  <span *ngIf="propiedad.delete_at != null" class="badge-eliminada">
    Eliminada
  </span>
</div>

<ng-container>
  <div class="detalle-container">
    <div class="card" style="width: 50%">
      <h3 class="card-title">
        Información de la Propiedad
        <!-- <button
          *ngIf="auth.usuarioActual()?.permisos?.gestionar_empleados"
          class="btn btn-secondary"
          (click)="updatePropiedad(propiedad.id)"
          style="float: right"
        >
          <i class="fa fa-pencil"></i>
        </button> -->
      </h3>

      <div
        class="detalle-grid"
        style="padding-left: 20px; margin-top: 0px"
        *ngIf="propiedad"
      >
        <div class="detalle-item">
          <p>
            Nombre: <strong>{{ propiedad.nombre }}</strong>
          </p>
          <p>
            Código de Acceso: <strong>{{ propiedad.codigoAcceso }}</strong>
            <button class="editCod" (click)="editarCodigoAcceso()">
              <i class="fa fa-pencil" style="margin: 0px"></i>
            </button>
          </p>
          <p>
            ¿Está habilitada?:
            <strong>{{ propiedad.is_habilitada ? "Sí" : "No" }}</strong>
          </p>
          <p>
            Tipo de Propiedad: <strong>{{ propiedad.tipo }}</strong>
          </p>
          <p>
            Descripción: <strong>{{ propiedad.descripcion }}</strong>
          </p>

          <p>
            Ambientes: <strong>{{ propiedad.ambientes }}</strong>
          </p>
          <p>
            Baños: <strong>{{ propiedad.banios }}</strong>
          </p>
          <p>
            Cocheras: <strong>{{ propiedad.cocheras }}</strong>
          </p>
          <p>
            Huéspedes: <strong>{{ propiedad.huespedes }}</strong>
          </p>
        </div>
        <div class="detalle-item">
          <p>
            Ciudad: <strong>{{ propiedad.ciudad }}</strong>
          </p>
          <p>
            Provincia: <strong>{{ propiedad.provincia }}</strong>
          </p>
          <p>
            Calle: <strong>{{ propiedad.calle }}</strong>

            Número: <strong>{{ propiedad.numero }}</strong>
          </p>
          <p>
            Piso: <strong>{{ propiedad.piso }}</strong>

            Departamento: <strong>{{ propiedad.depto }}</strong>
          </p>
          <p>
            Entre Calles: <strong>{{ propiedad.entre_calles }}</strong>
          </p>
          <p>
            Precio por Noche: <strong>U$D{{ propiedad.precioNoche | number:'1.2-2'}}</strong>
          </p>
          <p>
            Política de Reserva: <strong>{{ propiedad.pol_reserva }}</strong>
          </p>
          <p *ngIf="auth.usuarioActual()?.permisos?.gestionar_empleados">
            Encargado: <strong>{{ encargado?.nombre }}</strong>
            <button class="editCod" (click)="editarEncargado()">
              <i class="fa fa-pencil" style="margin: 0px"></i>
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title" style="padding-bottom: 26px">
        Reservas de la Propiedad
      </h3>
      <div class="table-container">
        <nz-spin [nzSpinning]="cargando">
          <nz-table
            #reservaTable
            [nzData]="reservas"
            [nzPageSize]="5"
            [nzFrontPagination]="true"
            [nzSize]="'small'"
          >
            <thead>
              <tr>
                <th
                  nzShowSort
                  nzColumnKey="estado"
                  [nzSortFn]="stadoCompare"
                  [nzFilters]="[
                    { text: 'Confirmada', value: 'Confirmada' },
                    { text: 'Pendiente', value: 'Pendiente' },
                    { text: 'Cancelada', value: 'Cancelada' },
                    { text: 'Finalizada', value: 'Finalizada' }
                  ]"
                  [nzFilterFn]="estadoFilterFn"
                >
                  Estado
                </th>
                <th
                  nzShowSort
                  nzColumnKey="fecha_inicio"
                  [nzSortFn]="fechaCompare"
                >
                  Fecha de Inicio
                </th>
                <th
                  nzShowSort
                  nzColumnKey="fecha_fin"
                  [nzSortFn]="fechaCompare"
                >
                  Fecha de Fin
                </th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of reservaTable.data">
                <td>
                  <span
                    [ngClass]="{
                      'badge-confirmada': reserva.estado === 'Confirmada',
                      'badge-pendiente': reserva.estado === 'Pendiente',
                      'badge-cancelada': reserva.estado === 'Cancelada',
                      'badge-otros': reserva.estado === 'Finalizada'
                    }"
                  >
                    {{ reserva.estado }}
                  </span>
                </td>
                <td>{{ reserva.fecha_inicio | date : "dd/MM/yyyy" }}</td>
                <td>{{ reserva.fecha_fin | date : "dd/MM/yyyy" }}</td>
                <td>
                  <button
                    (click)="verReserva(reserva.id)"
                    class="btn btn-primary btn-sm"
                  >
                    <i class="fa fa-eye"></i> Ver reserva
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div
            *ngIf="!reservas || reservas.length === 0"
            class="mensaje-sin-reservas"
          >
            No hay reservas.
          </div>
        </nz-spin>
      </div>
    </div>

    <div class="card-imagenes">
      <span>
        <button (click)="abrirSelectorImagen()" class="btn">
          <i class="fa fa-plus"></i> Cargar Imagen
        </button>
        <input
          type="file"
          #inputImagen
          accept="image/*"
          style="display: none"
          (change)="onImagenSeleccionada($event)"
        />
      </span>

      <div *ngIf="imagenesConId.length" class="imagenes-grid">
        <div class="imagen-wrapper" *ngFor="let imagen of imagenesPaginadas">
          <button class="boton-cerrar" (click)="eliminarImagen(imagen)">
            <i class="fa fa-close"></i>
          </button>
          <img
            [src]="imagen"
            alt="Imagen de la propiedad"
            class="imagen-propiedad"
          />
        </div>
      </div>

      <div class="paginacion" *ngIf="totalPaginas > 1">
        <button
          (click)="cambiarPagina(paginaActual - 1)"
          [disabled]="paginaActual === 1"
        >
          Anterior
        </button>
        <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
        <button
          (click)="cambiarPagina(paginaActual + 1)"
          [disabled]="paginaActual === totalPaginas"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</ng-container>

<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="modalTitle"
  [nzWidth]="800"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <!-- Empleado -->
    <div class="row" *ngIf="!codigo">
      <form nz-form [formGroup]="formEmpleado" nzLayout="vertical">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="id_encargado">Encargado</nz-form-label>

            <nz-select
              nzPlaceHolder="Seleccionar Encargado"
              formControlName="id_encargado"
              nzShowSearch
            >
              <nz-option
                *ngFor="let empleado of empleados"
                [nzValue]="empleado.id"
                [nzLabel]="empleado.nombre + ': ' + empleado.correo"

              ></nz-option>
            </nz-select>
          </nz-form-item>

        </div>
      </form>
    </div>

    <div class="row" *ngIf="codigo">
      <form nz-form [formGroup]="formCodigo" nzLayout="vertical">
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="codigoAcceso">Código de Acceso</nz-form-label>
            <nz-form-control [nzErrorTip]="codigoAccesoErrorTpl">
              <input
                nz-input
                type="text"
                formControlName="codigoAcceso"
                maxlength="4"
              />
              <ng-template #codigoAccesoErrorTpl let-control>
                <span *ngIf="control.hasError('pattern')"
                  >El código de acceso debe ser exactamente 4 dígitos.</span
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>

  <div *nzModalFooter>
    <button class="btn-cancel" nz-button (click)="handleCancel()">
      Cancelar
    </button>
    <button
      [disabled]="codigo ? !formCodigo.valid : !formEmpleado.valid"
      class="btn-aceptar"
      nz-button
      (click)="onSubmitForm()"
    >
      Aceptar
    </button>
  </div>
</nz-modal>
