<ng-container>
  <div class="row" style="padding-top: 20px">
    <div class="content-form">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-xs-11 col-lg-4">
            <div class="input-group input-group-lg">
              <input
                type="text"
                id="juicio"
                name="juicio"
                class="form-control"
                formControlName="busqueda"
                placeholder="Buscar juicio"
                (keyup.enter)="search()"
              />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-primary btn-flat"
                  (click)="search()"
                >
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>

          <button
            class="buttonClass"
            nzTooltipTitle="Puede realizar la búsqueda de una propiedad utlizando:  Número de
        Propiedad, Nombre y tipo de propiedad"
            nzTooltipPlacement="right"
            nz-button
            nz-tooltip
          >
            <i class="fa fa-question-circle"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2" style="padding-left: 20px">
      <button (click)="showModal()" class="btn btn-primary">
        <i class="fa fa-plus"></i> Agregar Propiedad
      </button>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="row">
      <h2 class="titulo-propiedades">Propiedades</h2>
    </div>
    <div class="table-container">
      <nz-table
        #propertyTable
        [nzData]="propiedades"
        [nzPageSize]="4"
        [nzFrontPagination]="true"
        [nzSize]="'small'"
      >
        <thead>
          <tr>
            <th>Propiedad</th>
            <th>Tipo Propiedad</th>
            <th>Localidad</th>
            <th>Ciudad</th>
            <th>Precio por Noche (USD)</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let propiedad of propertyTable.data">
            <td>{{ propiedad.nombre }}</td>
            <td>{{ propiedad.tipo }}</td>
            <td>{{ propiedad.ciudad }}</td>
            <td>{{ propiedad.ciudad }}</td>
            <td>{{ propiedad.precioNoche | currency : "USD" : "symbol" }}</td>
            <td>
              <span
                [ngClass]="{
                  'badge-confirmada': propiedad.is_habilitada,
                  'badge-cancelada': !propiedad.is_habilitada
                }"
              >
                {{ propiedad.is_habilitada ? "Habilitada" : "Deshabilitada" }}
              </span>
            </td>

            <td>
              <button
                (click)="verPropiedad(propiedad.id)"
                class="btn btn-success btn-sm"
              >
                <i class="fa fa-eye"></i> Ver
              </button>
              <button
                (click)="eliminar(propiedad.id)"
                class="btn btn-danger btn-sm"
              >
                <i class="fa fa-trash"></i> Eliminar
              </button>
              <button
                (click)="cambiarEstado(propiedad)"
                class="btn btn-warning btn-sm"
              >
                <i
                  class="fa"
                  [ngClass]="propiedad.is_habilitada ? 'fa-ban' : 'fa-play'"
                ></i>
                {{ propiedad.is_habilitada ? "Deshabilitar" : "Habilitar" }}
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>

      <div
        *ngIf="!propiedades || propiedades.length === 0"
        class="mensaje-sin-propiedades"
      >
        No hay propiedades.
      </div>
    </div>
  </div>

  <div
    class="row"
    style="padding-top: 20px"
    *ngIf="propiedadesEliminadas.length > 0"
  >
    <div class="row">
      <h2 class="titulo-propiedades">Propiedades Eliminadas con reservas</h2>
    </div>
    <div class="table-container">
      <nz-table
        #propertyTableEliminadas
        [nzData]="propiedadesEliminadas"
        [nzPageSize]="4"
        [nzFrontPagination]="true"
        [nzSize]="'small'"
      >
        <thead>
          <tr>
            <th>Propiedad</th>
            <th>Tipo Propiedad</th>
            <th>Localidad</th>
            <th>Ciudad</th>
            <th>Precio por Noche (USD)</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let propiedad of propertyTableEliminadas.data">
            <td>{{ propiedad.nombre }}</td>
            <td>{{ propiedad.tipo }}</td>
            <td>{{ propiedad.ciudad }}</td>
            <td>{{ propiedad.ciudad }}</td>
            <td>{{ propiedad.precioNoche | currency : "USD" : "symbol" }}</td>

            <td>
              <button
                (click)="verPropiedad(propiedad.id)"
                class="btn btn-success btn-sm"
              >
                <i class="fa fa-eye"></i> Ver
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</ng-container>

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnOk)="onSubmitPropiedad()"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="'50%'"
  [nzTitle]="'Agregar Propiedad'"
>
  <div *nzModalContent>
    <app-form-propiedades
      (formValidityChange)="onFormValidityChange($event)"
    ></app-form-propiedades>
  </div>

  <div *nzModalFooter>
    <button class="btn-cancel" nz-button (click)="handleCancel()">
      Cancelar
    </button>
    <button
      [disabled]="!isFormValid"
      class="btn-aceptar"
      nz-button
      (click)="onSubmitPropiedad()"
    >
      Agregar
    </button>
  </div>
</nz-modal>
