
<div class="modal-contenido">
  <img
    [src]=" 'assets/propiedades/1.jpeg'"
    alt="imagen propiedad"
    class="imagen-propiedad"
  />

  <h2>{{ propiedad.nombre }}</h2>
  <p>{{ propiedad.descripcion }}</p>

  <div class="grid-detalles">
    <p><strong>Precio por noche:</strong> {{ propiedad.precioNoche | currency: 'USD' }}</p>
    <p><strong>Ambientes:</strong> {{ propiedad.ambientes }}</p>
    <p><strong>Baños:</strong> {{ propiedad.banios }}</p>
    <p><strong>Cocheras:</strong> {{ propiedad.cocheras }}</p>
    <p><strong>Piso:</strong> {{ propiedad.piso }}</p>
    <p><strong>Tipo:</strong> {{ propiedad.tipo }}</p>
    <p><strong>Dirección:</strong> Calle {{ propiedad.calle }} entre {{ propiedad.entre_calles }}</p>
    <p><strong>Provincia:</strong> {{ propiedad.provincia }} - {{ propiedad.ciudad }}</p>
  </div>

  <nz-divider></nz-divider>

  <div class="datos-reserva">
    <p><strong>Check-in:</strong> {{ checkin | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Check-out:</strong> {{ checkout | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Huéspedes:</strong> {{ huespedes }}</p>
    <p ><strong>Total estadía:</strong> {{ precioTotal | currency: 'USD' }}</p>
  </div>


</div>
