<div class="modal-contenido">
  <div class="contenedor-carrusel">
    <button
      class="flecha flecha-izquierda"
      (click)="anteriorImagen()"
      [disabled]="imagenActualIndex === 0"
    >
      <i class="fa fa-arrow-circle-left"></i>
    </button>

    <img
      [src]="imagenActual"
      alt="Imagen de la propiedad"
      class="imagen-propiedad"
    />

    <button
      class="flecha flecha-derecha"
      (click)="siguienteImagen()"
      [disabled]="imagenActualIndex === imagenes.length - 1"
    >
      <i class="fa fa-arrow-circle-right"></i>
    </button>
  </div>

  <h2>{{ propiedad.nombre }}</h2>
  <p>{{ propiedad.descripcion }}</p>

  <div class="grid-detalles">
    <p>
      <strong>Precio por noche:</strong>U$D
      {{ propiedad.precioNoche | number : "1.2-2" }}
    </p>
    <p><strong>Ambientes:</strong> {{ propiedad.ambientes }}</p>
    <p><strong>Baños:</strong> {{ propiedad.banios }}</p>
    <p><strong>Cocheras:</strong> {{ propiedad.cocheras }}</p>
    <p><strong> Capacidad Huespedes:</strong> {{ propiedad.huespedes }}</p>
    <p><strong>Tipo:</strong> {{ propiedad.tipo }}</p>
    <p>
      <strong>Dirección:</strong> Calle "{{ propiedad.calle }}" entre "{{
        propiedad.entre_calles
      }}"
    </p>
    <p>
      <strong>Provincia:</strong> {{ propiedad.provincia }} -
      <strong>Ciudad:</strong>
      {{ propiedad.ciudad }}
    </p>
  </div>
  <nz-divider></nz-divider>
  <div *ngIf="propiedad.promedio_calificacion_detallado">
    <h3>Calificaciones detalladas</h3>
    <div class="grid-detalles">
      <p>
        <strong>Confort:</strong>
        <nz-rate
          [ngModel]="propiedad.promedio_calificacion_detallado.confort"
          [nzDisabled]="true"
        ></nz-rate>
      </p>
      <p>
        <strong>Instalaciones y Servicios:</strong>
        <nz-rate
          [ngModel]="
            propiedad.promedio_calificacion_detallado.instalaciones_servicios
          "
          [nzDisabled]="true"
        ></nz-rate>
      </p>
      <p>
        <strong>Limpieza:</strong>
        <nz-rate
          [ngModel]="propiedad.promedio_calificacion_detallado.limpieza"
          [nzDisabled]="true"
        ></nz-rate>
      </p>
      <p>
        <strong>Personal:</strong>
        <nz-rate
          [ngModel]="propiedad.promedio_calificacion_detallado.personal"
          [nzDisabled]="true"
        ></nz-rate>
      </p>
      <p>
        <strong>Relación Precio/Calidad:</strong>
        <nz-rate
          [ngModel]="propiedad.promedio_calificacion_detallado.precio_calidad"
          [nzDisabled]="true"
        ></nz-rate>
      </p>
      <p>
        <strong>Ubicación:</strong>
        <nz-rate
          [ngModel]="propiedad.promedio_calificacion_detallado.ubicacion"
          [nzDisabled]="true"
        ></nz-rate>
      </p>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="politica-reserva" *ngIf="propiedad.requiere_documentacion">
    <p>
      <strong>Atención: </strong>Tu reserva quedará pendiente hasta que
      completes la documentación adicional requerida para esta propiedad.
    </p>
  </div>
  <div class="politica-reserva">
    <p>
      <strong>Política de Reserva: </strong>{{ propiedad.pol_reserva }}. El
      monto restante le será cobrado 48hs antes del check-in.
    </p>
  </div>
  <div class="politica-cancelacion">
    <p>
      <strong>Política de Cancelación:</strong>
      Una vez realizada la reserva, no se realizan reintegros en caso de
      cancelación por parte del usuario, sin excepción. Solo se efectuarán
      reembolsos si la cancelación es realizada por la empresa. Recomendamos
      revisar cuidadosamente toda la información antes de confirmar la
      operación.
    </p>
  </div>

  <nz-divider></nz-divider>

  <div class="datos-reserva">
    <p><strong>Check-in:</strong> {{ checkin | date : "dd/MM/yyyy" }}</p>
    <p><strong>Check-out:</strong> {{ checkout | date : "dd/MM/yyyy" }}</p>
    <p>
      <strong>Total estadía:</strong> U$D{{ precioTotal | number : "1.2-2" }}
    </p>
    <p><strong>Huéspedes:</strong> {{ huespedes }}</p>

    <p><strong>Seña:</strong> U$S {{ montoSena | number : "1.2-2" }}</p>
  </div>
</div>
