<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
  <h2 style="text-align:center;">Cambiar Contraseña</h2>
  <nz-form-item>
    
    <nz-form-label [nzSpan]="24" nzFor="password">Nueva Contraseña</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <input
        nz-input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Ingrese nueva contraseña"
      />
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        <nz-alert *ngIf="form.get('password')?.hasError('required')" nzType="error" nzMessage="La contraseña es requerida." nzShowIcon></nz-alert>
        <nz-alert *ngIf="form.get('password')?.hasError('invalidPassword')" nzType="error" nzMessage="La contraseña debe tener al menos 8 caracteres, una mayúscula y un número." nzShowIcon></nz-alert>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzFor="confirmPassword">Confirmar Contraseña</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <input
        nz-input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirme su contraseña"
      />
      <div
        *ngIf="form.get('confirmPassword')?.touched && form.hasError('passwordMismatch')"
      >
        <nz-alert nzType="error" nzMessage="Las contraseñas no coinciden." nzShowIcon></nz-alert>
      </div>
    </nz-form-control>
  </nz-form-item>

  <button
    nz-button
    nzType="primary"
    class="login-btn"
    [disabled]="form.invalid"
    style="width:100%;margin-top:12px;"
  >
  Cambiar Contraseña
  </button>

  <nz-alert *ngIf="error" nzType="error" nzMessage="{{ error }}" nzShowIcon style="margin-top:12px;"></nz-alert>
  </form>
</div>
