<div class="perfil-container" *ngIf="auth.usuarioActual()">
  <div class="perfil-header" style="justify-content: center">
    <h2>Mi Perfil</h2>
  </div>

  <div *ngIf="usuario() as user">
    <p class="perfil-subtitulo">Datos Personales</p>
    <div class="perfil-grid">
      <div class="perfil-col">
        <div class="perfil-row"><b>Nombre:</b> {{ user.nombre }}</div>
        <div class="perfil-row"><b>Apellido:</b> {{ user.apellido }}</div>

        <div class="perfil-row">
          <b>País:</b> {{ user.pais?.nombre || "-" }}
        </div>
        <div class="perfil-row"><b>Email:</b> {{ user.correo }}</div>
      </div>
      <div class="perfil-col perfil-col-roles">
        <div class="perfil-row">
          <b>Fecha de Nacimiento:</b>
          {{
            user.fecha_nacimiento
              ? (user.fecha_nacimiento | date : "dd/MM/yyyy")
              : "-"
          }}
        </div>
        <div class="perfil-row">
          <b>Tipo Identificación:</b> {{ user.tipo_identificacion?.nombre }}
        </div>
        <div class="perfil-row">
          <b>Número Identificación:</b> {{ user.numero_identificacion || "-" }}
        </div>
      </div>
    </div>

    <div *ngIf="!user.permisos?.gestionar_propiedades">
      <hr />
      <p class="perfil-subtitulo">Información de Pago</p>
      <div *ngIf="user.tarjetas.length > 0" class="perfil-pago">
        <div class="perfil-grid">
          <div class="perfil-col">
            <div class="perfil-row">
              <b>Número de Tarjeta:</b> **** **** ****
              {{ user.tarjetas[0].numero.toString().slice(-4) }}
            </div>
          </div>
          <div class="perfil-col">
            <div class="perfil-row">
              <b>Fecha de Vencimiento:</b>
              {{ user.tarjetas[0].fecha_vencimiento || "-" }}
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    
    <div *ngIf="user?.id_imagenes" class="imagenes-grid">
      
      <div class="imagen-wrapper" *ngFor="let imagen of user.id_imagenes">
        <img
          [src]="'http://localhost:8000/usuarios/imagenDoc/' + imagen"
          alt="imagen-propiedad"
          class="imagen-propiedad"
        />
      </div>
    </div>

    <div class="perfil-bloque-acciones">
      <!-- <p class="perfil-subtitulo">Acciones de cuenta</p> -->
      <div class="perfil-acciones">
        <button class="editar-perfil" (click)="updateUser(user.id)">
          <i class="fa fa-pencil"></i> Editar perfil
        </button>
        <button class="cambiar-contra" (click)="recuperarPassword()">
          <i class="fa fa-key"></i> Cambiar contraseña
        </button>
        <button
          *ngIf="!auth.usuarioActual()?.permisos?.gestionar_propiedades"
          class="eliminar-cuenta"
          (click)="eliminarUsuario(user.id)"
        >
          <i class="fa fa-trash"></i> Eliminar cuenta
        </button>
      </div>
    </div>
    <div *ngIf="!usuario()">
      <p>No se pudo cargar la información del usuario.</p>
    </div>
  </div>
</div>

<!-- Steps -->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzFooter]="null"
  nzWidth="400px"
  (nzOnCancel)="handleCancel()"
>
  <nz-steps [nzCurrent]="currentStep">
    <nz-step nzTitle="Verificar contraseña"></nz-step>
    <nz-step nzTitle="Nueva contraseña"></nz-step>
  </nz-steps>

  <div *nzModalContent [ngSwitch]="currentStep">
    <!-- PASO 1 -->

    <div *ngSwitchCase="0" class="verificar-container">
      <p class="verificar-text">Por favor, ingresá tu contraseña actual.</p>
      <form [formGroup]="password" class="verificar-form">
        <label class="verificar-label">Contraseña actual:</label>
        <input
          nz-input
          formControlName="password"
          placeholder="Ingresá tu contraseña actual"
          type="password"
        />
        <div class="verificar-boton">
          <button
            class="cambiar-contra"
            nz-button
            nzType="primary"
            [disabled]="password.invalid"
            (click)="passOk()"
          >
            Verificar
          </button>
        </div>
      </form>
    </div>

    <!-- PASO 2 -->
    <div *ngSwitchCase="1">
      <app-reset-password [isModal]="true" (onClose)="onCloseModal()">
      </app-reset-password>
    </div>
  </div>
</nz-modal>
