.detalle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
}
.buscador-card {
  border-radius: 40px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  padding: 16px 24px;
  margin: 20px auto;
  max-width: 1000px;
  /* padding: 20px ; */
}

.buscador-item label {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 4px;
  display: block;
}
.buscador-item nz-select {
  width: 100%;
}

.buscador-boton {
  display: flex;
  align-items: end;
}
.propiedad-card p {
  word-break: break-word;
}

.buscador-boton button {
  margin-left: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  border: none;
}

.buscador-boton button:disabled {
  background-color: rgb(161, 159, 159);
  color: #2c3e50 !important;
  border: 1px solid #2c3e50;
  cursor: not-allowed;
}

.propiedades-container {
  margin-top: 20px;
}

.propiedades-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: justify;
  gap: 16px;
  align-items: stretch;
}

.propiedad-card {
  width: calc(25% - 16px); /* 4 por fila con espacio */
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.propiedad-card nz-card {
  height: 100%;
  display: flex; /* Make nz-card a flex container */
  flex-direction: column; /* Stack its content vertically */
}
.propiedad-card nz-card .ant-card-body { /* Use the correct Ant Design class for the card body */
  flex-grow: 1; /* Allow the body to grow and fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between title, description, and details */
}


.grid-detalles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
  margin-top: 10px;
}
.paginador-centrado {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.propiedad-card p {
  word-break: break-word;
  /* You might want to remove 'white-space: nowrap;' if you're using line-clamp */
  /* If sticking to single line with ellipsis, this is fine */
}
@media (max-width: 992px) {
  .propiedad-card {
    flex: 1 0 calc(50% - 16px); /* 2 por fila */
  }
}


@media (max-width: 600px) {
  .propiedad-card {
    flex: 1 0 100%; /* 1 por fila */
  }
}

.descripcion-recortada {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagen-propiedad {
  width: 100%;
  max-width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* border-radius: 10px; */
}
